.panel {
  overflow: auto;
  max-width: 100vw;
  max-height: 100vh;
  margin: 4px;
}

.element {
  margin: 4px;
  padding-bottom: 4px;
}

.scrollable-console {
  overflow: scroll;
  height: 100px;
}

.links {
  color: rgb(13, 102, 208);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-item:not(:first-child) {
  margin-top: 5px; /* Adjust the space as needed */
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
  text-align: center;
}